@import "tailwindcss";

*{
  font-weight: 200;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1200px;
  overflow-x: hidden;
  margin: auto;
  padding: 0 10px;
}

button , input , textarea{
  font-family: inherit;
}